body{
    background: #bbbbbb ;
}

header{
    background: #bbbbbb;
    padding: 20px 0;
}
.titulo-principal{
    text-align: center;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
}


nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: aqua;
    text-decoration: underline;
}

.teste{
    text-align: center
}

.botao{
    padding: 5px 10px;
    background: #777777;
    color: white;
    border: 0;
}

.botao:hover{
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 40px 0;
}

.Copyright{
    color: black;
    font-size: 20px 0 0;
}